@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&display=swap");

:root {
  --main-color: #222831;
  --main-color: #121212;
  --nav-bar: #845ec2;
  --nav-hover: #f9c846;
  --highlight: #ffbd69;
  --normal-text: #b2b1b9;

  font-family: "Playfair Display", serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--main-color);
  color: var(--normal-text);
}

.container {
  width: 80%;
  max-width: 30rem;
  margin: 0 auto;
  margin-top: 4vh;
  height: 100%;
}

a {
  text-decoration: none;
  color: var(--nav-bar);
}

nav {
  left: 0;
}
nav > ul {
  flex-direction: row;
  display: flex;
}

li {
  list-style: none;
  margin: 0 20px;
}
.nav-link {
  font-weight: 400;
  font-size: 1.4em;
  display: inline-block;
  position: relative;
  color: var(--nav-hover);
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  align-content: center;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: var(--nav-hover);
  transform-origin: bottom left;
  transition: transform 0.35s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom right;
}
.gif {
  margin: 10% 0;
  height: 25vh;
  display: flex;
  justify-content: center;
}

.gif > img {
  opacity: 0.67;
  border-radius: 50%;
}

.gif > img:hover {
  opacity: 1;
}

section > h2 {
  color: var(--highlight);
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 700;
}

section > p {
  font-size: 1.25em;
}

/* media queries */
@media (max-width: 480px) {
  section > h2 {
    font-size: 1.2em;
  }

  .nav-link {
    font-size: 1em;
  }
  .gif {
    height: 18vh;
  }
}
